

:host ::ng-deep .chessBoard {
    grid-template-columns: 4% 12% 12% 12% 12% 12% 12% 12% 12%;
    @apply  w-[100%];

    .cell {
       

        .piece {
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            font-family: ChessMeridaUnicode;
        }

        .selectedPiece {
            font-size: 100px;
        }
    }

}

// :host ::ng-deep .chessBoard-small {
//     grid-template-columns: 4% 12% 12% 12% 12% 12% 12% 12% 12%;
//     @apply w-[100%]; ;

//     .cell {
//         @apply size-[40px];
//         font-size: 12px;

//         .piece {
//             text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
//             font-family: ChessMeridaUnicode;
//             @apply leading-[20px] pt-[10px] !text-[23px];
//         }
//     }
// }
