@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;


@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
    @include mat.tooltip-overrides((container-color: rgba(0, 0, 0, 0.801),
            container-shape: 3px,
            supporting-text-size:11px));

    @include mat.tabs-overrides((active-focus-indicator-color: orange,
            active-focus-label-text-color: red,
            label-text-font:8px,

        ));
}









body {
    font-family: Roboto,
        sans-serif;
    background-color: #00000026;

}